[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# django... duh
django = ">=2.2.0"
# docker health-checking
django-health-check = ">=3.10.2"
# wsgi... duh
uwsgi = ">=2.0.18"
# postgresql support
psycopg2-binary = ">=2.8.3"
# cross-origin resource sharing
django-cors-headers = ">=3.0.2"
# access environment variables
django-environ = ">=0.4.5"
# strong password hashing
argon2-cffi = ">=19.1.0"
# S3 Bucket access
boto3 = ">=1.9.220"
# MapBox SDK
mapbox = ">=0.18.0"
# API... duh
djangorestframework = "==3.9.4"
# API for GIS
djangorestframework-gis = ">=0.14.0"
# API documentation
django-rest-swagger = ">=2.2.0"
# dynamic API
drf-flex-fields = ">=0.5.0"
# extended API filters
django-filter = ">=2.1.0"
# data processing
pandas = ">=0.25.0"
# GIS data processing
geopandas = ">=0.5.1"
# static file management (gzipping, etc.)
whitenoise = ">=4.1.2"
# plain-text content zipping (files & responses)
brotli = ">=1.0.7"
# astrosat-specific code
django-astrosat-core = {editable = true,git = "https://github.com/astrosat/django-astrosat-core.git",ref = "master"}
django-astrosat-users = {editable = true,git = "https://github.com/astrosat/django-astrosat-users.git",ref = "master"}

[dev-packages]
# coverage reports for GitHub, GitLab, etc.
codecov = ">=2.0.15"
# live debug info
django-debug-toolbar = ">=2.0"
# test fixtures replacement
factory-boy = ">=2.12"
# test library
pytest = ">=5.1.2"
# pytest django plugin
pytest-django = ">=3.5"
# pytest look-and-feel plugin
pytest-sugar = ">=0.9"

[requires]
python_version = "3.7.3"
