body {
  margin: 0;
}

#astrosat .container,
#astrosat .box-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#astrosat .container .night-lights,
#astrosat .container .eon {
  display: flex;
  width: 100%;
  height: 100%;
}

#astrosat .container .night-lights {
  background-image: url("/static/core/img/night-lights.png");
  background-size: 100% 100%;
}

#astrosat .container .eon {
  justify-content: flex-end;
  background-color: #ea1c0a;
}

.blue-bar,
.yellow-bar,
.red-bar {
  height: 100%;
}

.eon-logo {
  width: 4rem;
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.blue-bar {
  width: 2rem;
  background-color: #5cc1cb;
  margin-left: 3rem;
}

.yellow-bar {
  width: 3rem;
  background-color: #e3e000;
}

.red-bar {
  width: 1rem;
  background-color: #b00402;
}

#astrosat .box {
  border: 2px solid black;
  background-color: #fff;
}

#astrosat div.content {
  padding-left: 1em;
  padding-right: 1em;
}

#astrosat div.logo {
  background: black;
  padding: 0.5rem;
}

#astrosat img.logo {
  height: 50px;
}

#astrosat .errorlist {
  color: rgb(255, 50, 0);
  list-style-type: none;
}

#astrosat .messages .error {
  color: rgb(255, 50, 0);
}

#astrosat .messages .warning {
  color: rgb(255, 175, 0);
}

#astrosat .messages .info {
  color: rgb(0, 210, 255);
}

#astrosat .messages .success {
  color: rgb(50, 200, 50);
}
